# Temporary Files
*~
.*.swp
.DS_STORE
*.cache

bin/
target/
test-classes/
war/
gwt-unitCache/
gen/
dist/
**/webapp/assets
.gradle/
build/

*.iml
*.a
/.idea/
.idea/
workspace.xml
tasks.xml
local.properties
*.class
.settings
out/
jni-headers/
*.c
libs/
*.log
*.o
*.ini

**/lua/lua-gen/src/main/java/**
**/lua/lua-teavm/src/main/java/**
**/webapp/**